.bleu {
    text-align: center;
    font-weight: bold;
    background-color:  cyan;
    border: 20px solid cyan;
    margin: 0px;
}

.turquoise {
    text-align: center;
    font-weight: bold;
    background-color:  turquoise;
    border: 20px solid turquoise;
    margin: 0px;
}

.jaune {
    padding: 40%;
    text-align: center;
    font-weight: bold;
    background-color:  yellow;
    border: 20px solid yellow;
    margin: 0px;
}

.rose {
    padding-bottom: 80%;
    text-align: center;
    float: left;
    font-weight: bold;
    background-color:  pink;
    border: 20px solid pink;
    margin: 0px;
}